<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="titulo">Buscar</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

<ion-content>
    <ion-header class="buscar">
            <ion-toolbar>
              <ion-searchbar> </ion-searchbar>
            </ion-toolbar>
    </ion-header>

 <div class="maps">
      <iframe class="conteudo" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1943.9036738139903!2d-38.521454697261085!3d-12.984170603011764!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716039d21f86d35%3A0xe7612e97c94c65ea!2sABADEF-Associa%C3%A7%C3%A3o%20Baiana%20dos%20Deficientes%20F%C3%ADsicos!5e0!3m2!1spt-BR!2sbr!4v1682995014843!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="conteudo animate__animated animate__fadeInLeft">
  <ion-card (click)="buscarNoMapa()">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img
          src="https://drive.google.com/uc?id=1k8x39Z-ZJe52XMwrq0Cq0pRoz7lJIGN2"
        />
      </ion-thumbnail>
      <ion-label>Instituições com acessibilidade</ion-label>
    </ion-item>
  </ion-card>
  

</div>
</ion-content>
</ion-content>
