
.maps{
  
  border-style: solid;
  max-width: 500px;
  margin: auto;
  text-align: center;
  width: 500px;
}

// .buscar{

//   padding-top: 1%;
//   max-width: 500px;
//   margin: auto;
  

// }